<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <title>Update Your Info</title>
  </head>
  <body>
    <div class="container">
        <h3 class="my-4">Update</h3>
        <div th:if="${ErrorMessage}" class="alert alert-danger">
            <p th:text="${ErrorMessage}"></p>
        </div>
        <form action="#" th:action="@{/active/update}"
              th:object="${Member}" method="POST" class="my-4">
            <label>Username</label>
            <input type="text" th:field="*{userName}" class="form-control mb-4 w-25 bg-dark text-light" readonly>
            <p th:if="${#fields.hasErrors('userName')}" class="text-danger" th:errors="*{userName}">Username Validation error</p>
            <input type="hidden" th:field="*{enabled}">
            <label>Password</label>
            <input type="password" th:field="*{password}" class="form-control mb-4 w-25" placeholder="">
            <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}">Password Validation error</p>
            <label>Name</label>
            <input type="text" th:field="*{name}" class="form-control mb-4 w-25" placeholder="${Member.name}">
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}">Name Validation error</p>
            <label>Phone Number</label>
            <input type="text" th:field="*{phone}" class="form-control mb-4 w-25" placeholder="${Member.phone}">
            <p th:if="${#fields.hasErrors('phone')}" class="text-danger" th:errors="*{phone}">Phone Number Validation error</p>
            <label>Date of Birth</label>
            <input type="date"  th:field="*{dob}" class="form-control mb-4 w-25">
            <p th:if="${#fields.hasErrors('dob')}" class="text-danger" th:errors="*{dob}">Date Of Birth Validation error</p>
            <p><button type="submit" class="btn btn-info col-2">Save</button></p>

        </form>
        <form action="#" th:action="@{/active/delete}" method="POST" class="my-4">
            <button type="submit" class="btn btn-info col-2">Delete Your Account</button>
        </form>
        <hr>
        <a th:href="@{/active/home}" class="my-4">Back to Home</a>
    </div>
  </body>
</html>